{% set mainCategoryId = widget.settings.mainCategoryId.mobile %}

{% set currentCategory = services.category.getCurrentCategory() %}
{% set level1CategoryChildren = services.category.getCurrentCategoryChildren(mainCategoryId) %}

{% set level1Options = services.category.getCurrentCategoryChildren(mainCategoryId) %}
{% set level2Options = services.category.getCurrentCategoryChildren(mainCategoryId) %}
{% set level3Options = services.category.getCurrentCategoryChildren(mainCategoryId) %}
{% set level4Options = services.category.getCurrentCategoryChildren(mainCategoryId) %}

{% set tree = {} %}

{% if mainCategoryId is not empty %}
    {# Get the subcategories with the current category id #}
    {% if isPreview %}
        <div>
            <h2>Tinten & Toner Suche</h2>
            {{ mainCategoryId | json_encode() }}
            {% for child in level1CategoryChildren %}
                {{ child.id }}
            {% endfor %}
        </div>
    {% else %}
        <h2><b>Tinten & Toner Suche</b></h2>
        <label>
            Hersteller:
            <select>
                Hersteller:
                {% for level1Child in level1CategoryChildren %}
                    <option>{{ level1Child.details[0].name }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            Druckermodell / Nr.:
            <select>
                Hersteller:
                {% for level1Child in level1CategoryChildren %}
                    <option>{{ level1Child.details[0].name }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            Toner / Drucker:
            <select>
                Hersteller:
                {% for level1Child in level1CategoryChildren %}
                    <option>{{ level1Child.details[0].name }}</option>
                {% endfor %}
            </select>
        </label>
    {% endif %}
{% else %}
    <p>Search settings are empty</p>
{% endif %}
