{% set parentCategoryId = widget.settings.parentCategoryId.mobile %}
{% set title = widget.settings.title.mobile %}
{% set description = widget.settings.description.mobile %}
{% set redirectUrlHash = widget.settings.redirectUrlHash.mobile %}

{% if parentCategoryId is not empty %}

    {% set parentCategory = services.category.get(parentCategoryId) %}
    {% set parentCategoryName = parentCategory.details.0.name %}
    {% set parentCategoryNameUrl = parentCategory.details.0.nameUrl %}

    {% set level1Category = {} %}
    {% set level2Categories = [] %}
    {% set level3Categories = [] %}
    {% set level4Categories = [] %}
    {% set level5Categories = [] %}

    {% set option = {
        "id": parentCategoryId,
        "name": parentCategoryName,
        "nameUrl": parentCategoryNameUrl
    } %}

    {% set level1Category = level1Category|merge(option) %}

    {% set level1CategoryChildren = services.category.getCurrentCategoryChildren(parentCategoryId) %}

    {% for level2Category in level1CategoryChildren %}
        {% set id = level2Category.id %}
        {% set currentCategory = services.category.get(id) %}
        {% set level2CategoryChildren = services.category.getCurrentCategoryChildren(id) %}
        {% set option = {
            "id": currentCategory.id,
            "parentCategoryId": currentCategory.parentCategoryId,
            "name": currentCategory.details.0.name,
            "nameUrl": currentCategory.details.0.nameUrl
        } %}
        {% set level2Categories = level2Categories|merge([option]) %}
        {% for level3Category in level2CategoryChildren %}
            {% set id = level3Category.id %}
            {% set currentCategory = services.category.get(id) %}

            {% set level3CategoryChildren = services.category.getCurrentCategoryChildren(id) %}

            {% set option = {
                "id": currentCategory.id,
                "parentCategoryId": currentCategory.parentCategoryId,
                "name": currentCategory.details.0.name,
                "nameUrl": currentCategory.details.0.nameUrl
            } %}

            {% set level3Categories = level3Categories|merge([option]) %}
            {% for level4Category in level3CategoryChildren %}
                {% set id = level4Category.id %}
                {% set currentCategory = services.category.get(id) %}
                {% set level4CategoryChildren = services.category.getCurrentCategoryChildren(id) %}
                {% set option = {
                    "id": currentCategory.id,
                    "parentCategoryId": currentCategory.parentCategoryId,
                    "name": currentCategory.details.0.name,
                    "nameUrl": currentCategory.details.0.nameUrl
                } %}
                {% set level4Categories = level4Categories|merge([option]) %}
                {% for level5Category in level4CategoryChildren %}
                    {% set id = level5Category.id %}
                    {% set currentCategory = services.category.get(id) %}
                    {% set option = {
                        "id": currentCategory.id,
                        "parentCategoryId": currentCategory.parentCategoryId,
                        "name": currentCategory.details.0.name,
                        "nameUrl": currentCategory.details.0.nameUrl
                    } %}
                    {% set level5Categories = level5Categories|merge([option]) %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}

    {% if isPreview %}
        <div>
            <h2>Tinten & Toner Suche</h2>
            <p>Tinten & Toner Hauptkategorie hat ID: {{ parentCategoryId }}</p>
            <p>Tinten & Toner Hauptkategorie hat URL: {{ parentCategoryNameUrl }}</p>
            <p>Redirect URL Hash: {{ redirectUrlHash }}</p>
        </div>
    {% else %}
        <div>
            <ink-toner-search
                    :title="{{ title | json_encode }}"
                    :description="{{ description | json_encode }}"
                    :redirect-url-hash="{{ redirectUrlHash | json_encode }}"
                    :level1-category="{{ level1Category | json_encode }}"
                    :level2-categories="{{ level2Categories | json_encode }}"
                    :level3-categories="{{ level3Categories | json_encode }}"
                    :level4-categories="{{ level4Categories | json_encode }}"
                    :level5-categories="{{ level5Categories | json_encode }}">
            </ink-toner-search>
        </div>
    {% endif %}
{% else %}
    <p>Die Einstellungen des PrinterInkTonerCartridgeSearchWidgets sind nicht korrekt.</p>
{% endif %}
