{% set parentId = widget.settings.mainCategoryId.mobile %}

{% macro extractCategoryInformation(category, level) %}
    {% set id = category.id %}
    {% set parentId = category.parentId %}
    {% set level = category.level %}
    {% set name = category.details.0.name %}
    {% set nameUrl = category.details.0.nameUrl %}
{% endmacro %}

{% if parentId is not empty %}

    {% set parentCategory = services.category.get(parentId) %}
    {% set parentCategoryName = parentCategory.details.0.name %}
    {% set parentCategoryNameUrl = parentCategory.details.0.nameUrl %}

    {# TODO Replace getChildren with getCurrentCategoryChildren if IO is on version 5.0.34 #}
    {# Get the subcategories with the current category id #}
    {% set level2CategoryChildren = services.category.getChildren(parentId) %}

    {% if isPreview %}
        <div>
            <h2>Tinten & Toner Suche</h2>
            <p>Tinten & Toner Hauptkategorie hat ID: {{ parentId }}</p>
            <p>Tinten & Toner Hauptkategorie hat URL: {{ parentCategoryNameUrl }}</p>
        </div>

    {% else %}
        <div>
            <p>Tinten & Toner Hauptkategorie hat ID: {{ parentId }}</p>
            <p>Tinten & Toner Hauptkategorie hat URL: {{ parentCategoryNameUrl }}</p>

            {% set level1 = {"parentId": parentId} %}
            {% set level2 = [] %}
            {% set level3 = [] %}
            {% set level4 = [] %}
            {% set level5 = [] %}

            {% for level2Catgegory in level2CategoryChildren %}
                {{ extractCategoryInformation(level2Category) }}
              {#  {% set parentId = level2Catgegory.parentId %}
                {% set level = level2Catgegory.level %}
                {% set name = level2Catgegory.details.0.name %}
                {% set nameUrl = level2Catgegory.details.0.nameUrl %}#}

                {# TODO save level2Category in Level2 #}

                {% set level3CategoryChildren = services.category.getChildren(id) %}
                <p>Level 2: ID: {{ id }}, Name: {{ name }}</p>
                {% for level3Categegory in level3CategoryChildren %}
                    {{ extractCategoryInformation(level3Categegory) }}

               {#     {% set id = level3Categegory.id %}
                    {% set parentId = level3Categegory.parentId %}
                    {% set level = level3Categegory.level %}
                    {% set name = level3Categegory.details.0.name %}
                    {% set nameUrl = level3Categegory.details.0.nameUrl %}#}

                    {% set level4CategoryChildren = services.category.getChildren(id) %}

                    <p>Level 3: ID: {{ id }}, Name: {{ name }}</p>

                    {% for level4Categegory in level4CategoryChildren %}
                        {{ extractCategoryInformation(level4Categegory) }}
                        {% set id = level4Categegory.id %}
                    {#    {% set id = level4Categegory.id %}
                        {% set parentId = level4Categegory.parentId %}
                        {% set level = level4Categegory.level %}
                        {% set name = level4Categegory.details.0.name %}
                        {% set nameUrl = level4Categegory.details.0.nameUrl %}#}

                        {% set level5CategoryChildren = services.category.getChildren(id) %}
                        <p>Level 4: ID: {{ id }}, Name: {{ name }}</p>

                        {% for level5Categegory in level5CategoryChildren %}
                            {{ extractCategoryInformation(level5Categegory) }}

               {#             {% set id = level5Categegory.id %}
                            {% set parentId = level5Categegory.parentId %}
                            {% set level = level5Categegory.level %}
                            {% set name = level5Categegory.details.0.name %}
                            {% set nameUrl = level5Categegory.details.0.nameUrl %}#}

                            <p>Level 5: ID: {{ id }}, Name: {{ name }}</p>

                        {% endfor %}

                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% else %}
    <p>Die Tinten & Toner Sucher Einstellungen sind nicht korrekt. Bitte überprüfen!</p>
{% endif %}
